<!DOCTYPE html>
<html>
   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://s3.eu-west-2.amazonaws.com/fccpictureuploads/screamIcon.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://jc-fcc-exercise-tracker/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
    <h1>
      EXTREME SUCCESS!!!
    </h1>
    <p>
      Your exercise has been logged.
    </p>
    <a href="https://jc-fcc-exercise-tracker.glitch.me/">
      <p>
        Go Back
      </p>
    </a>
  </body>
</html>